@use 'colors.scss' as col;

/* header actions */
.fi-header .fi-icon-btn,
.fi-resource-relation-manager .fi-icon-btn {
	color: col.$la-primary;
	border: solid 1px col.$la-primary;
}

.fi-header .fi-icon-btn:hover,
.fi-resource-relation-manager .fi-icon-btn:hover {
	background-color: col.$la-primary;
	color: col.$la-white;
}

/* table actions */
.fi-ta-actions .fi-icon {
	color: col.$la-slate-60;
}

.fi-ta-actions .fi-icon.fi-size-sm {
	width: 1.0625rem;
	height: 1.0625rem;
}

.fi-ta-actions .fi-link {
	padding: 0.5rem;
	border: 1px solid transparent;
	border-radius: 0.25rem !important;
}
.fi-ta-actions .fi-link:hover {
	border-color: col.$la-primary;
}
.fi-ta-actions .fi-link:hover .fi-icon {
	color: col.$la-primary;
}

.fi-resource-relation-manager .fi-ta-actions .fi-icon-btn:hover .fi-icon {
	color: col.$la-white
}

