@use 'colors.scss' as col;

a.fi-color-primary.fi-bg-color-400,
button.fi-color-primary.fi-bg-color-400 {
	background-color: col.$la-primary;
	color: col.$la-white;
}

a.fi-color-primary.fi-bg-color-400:hover,
button.fi-color-primary.fi-bg-color-400:hover {
	background-color: col.$la-primary-darker;
	color: col.$la-white;
}
