input[type=checkbox].fi-checkbox-input {
	width: 1.125rem;
	height: 1.125rem;
	border-radius: 0 !important;
}

@media (min-width: 786px) {
	.filepond--item {
		width: calc(33% - 0.5em);
	}
	.fi-fo-repeater-items .filepond--item {
		width: 100%;
	}
}

@media (min-width: 1200px) {
	.filepond--item {
		width: calc(25% - 0.5em);
	}
	.fi-fo-repeater-items .filepond--item {
		width: 100%;
		/* width: calc(50% - 0.5em); */
	}

}

.lara-media-section .filepond--item {
	width: 100% !important;
}

.og-preview {
	border: 1px solid #c8d2e1;
	box-shadow: 0 0 12px #00000026;
	margin: 0 auto;
	max-width: 100%;
	text-align: left;
	width: 500px
}

.og-preview .og-preview-content {
	padding: 15px
}

.og-preview .og-preview-content .og-preview-sitename {
	color: #a0b4cd;
	font-size: 12px;
	margin-bottom: 10px
}

.og-preview .og-preview-content .og-preview-title {
	font-size: 16px;
	margin: 10px 0
}

.og-preview .og-preview-content .og-preview-text {
	color: #8ca0b9;
	font-size: 12px;
	margin-bottom: 10px
}
.rich-editor-toggle-button .fi-toggle {
	margin-left: auto;
}

