@use 'colors.scss' as col;

input[type=checkbox].fi-checkbox-input {
	width: 1.125rem;
	height: 1.125rem;
	border-radius: 0 !important;
}


.og-preview {
	border: 1px solid col.$la-slate-200;
	box-shadow: 0 0 12px rgba(0,0,0,0.15);
	margin: 0 auto;
	max-width: 100%;
	text-align: left;
	width: 500px
}

.og-preview .og-preview-content {
	padding: 15px
}

.og-preview .og-preview-content .og-preview-sitename {
	color: col.$la-slate-160;
	font-size: 12px;
	margin-bottom: 10px
}

.og-preview .og-preview-content .og-preview-title {
	font-size: 16px;
	margin: 10px 0
}

.og-preview .og-preview-content .og-preview-text {
	color: col.$la-slate-140;
	font-size: 12px;
	margin-bottom: 10px
}
.rich-editor-toggle-button .fi-toggle {
	margin-left: auto;
}

