@use 'colors.scss' as col;

.fi-header-heading {
	font-weight: 300;
	color: col.$la-slate-100
}

.lara-focus-mode {
	.fi-header {
		.fi-header-heading {
			white-space: nowrap;
			overflow: hidden;
		}
	}
}

.fi-header .fi-ac {
	column-gap: 12px;
}

@media (min-width: 992px) {
	.fi-header .fi-ac {
		column-gap: 24px;
	}
}

.fi-page-header-main-ctn {
	padding-top: 1.25rem;
	row-gap: 1.25rem !important;
}

.lara-focus-mode .fi-header h1.fi-header-heading {
	font-size: 24px !important;
}

.fi-topbar,
.fi-sidebar-header {
	.fi-logo {
		font-size: 1.25rem;
		font-weight: 300;
		color: rgba(255,255,255, .7);
	}
}
.fi-topbar {
	.fi-logo {
		margin-inline-start: 1.5rem;
	}
}

.fi-header-actions-ctn {
	.fi-icon {
		&.fi-size-md {
			width: 1.125rem;
			height: 1.125rem;
		}
	}
}

