@use 'colors.scss' as col;

// hide dropdown (view, edit, delete) in modal
.fi-modal  {
	.curator-panel-gallery {
		.curator-picker-grid {
			> li > div.absolute.flex {
				display: none !important;
			}
		}
	}
}

.curator-media-picker {
	> .w-full {
		display: grid;
		gap: calc(var(--spacing)*6)
	}
	.h-64 {
		height: calc(var(--spacing)*50)
	}
	.fi-dropdown-panel {
		max-width: 12rem !important;
		width: 12rem !important;
	}
	.fi-dropdown-list-item {
		padding-top: 0.375rem;
		padding-bottom: 0.375rem;
	}
	.checkered {
		background-image: none !important;
		background-color: rgba(246,248,252) !important;

	}
}

@media (min-width: 40rem) {
	.curator-media-picker {
		> .w-full {
			grid-template-columns: repeat(2,minmax(0,1fr))
		}
	}
}

@media (min-width: 64rem) {
	.curator-media-picker {
		> .w-full {
			grid-template-columns: repeat(3,minmax(0,1fr))
		}
	}
}

.lara-files-section .filepond--panel.filepond--item-panel {
	background-image: url(/assets/filament/img/doc-icon.png);
	background-repeat: no-repeat;
	background-size: 80px 80px;
	background-position: 50% 50%;
}

.lara-files-section .filepond--file {
	color: col.$la-slate-80;
}

.lara-files-section .filepond--panel.filepond--item-panel .filepond--panel-top,
.lara-files-section .filepond--panel.filepond--item-panel .filepond--panel-center,
.lara-files-section .filepond--panel.filepond--item-panel .filepond--panel-bottom {
	background-color: rgba(255, 255, 255, 0.4);

}

.lara-files-section .fi-fo-repeater-add .fi-ac-btn-action,
.lara-videofiles-section .fi-fo-repeater-add .fi-ac-btn-action,
.lara-videos-section .fi-fo-repeater-add .fi-ac-btn-action {
	margin: 0.25rem 0.75rem;
	box-shadow: none;
	border: solid 1px col.$la-primary;
	border-radius: 4px;
	color: col.$la-primary;
}

.lara-files-section .fi-fo-repeater-add .fi-ac-btn-action:hover,
.lara-videofiles-section .fi-fo-repeater-add .fi-ac-btn-action:hover,
.lara-videos-section .fi-fo-repeater-add .fi-ac-btn-action:hover {
	background-color: col.$la-primary;
	color: col.$la-white;
}
