@use 'colors.scss' as col;

.fi-sc-tabs.fi-contained {
	background-color: transparent;
	box-shadow: none;
}
.fi-tabs.fi-contained {
	background-color: col.$la-white;
}
.fi-sc-tabs.fi-contained .fi-sc-tabs-tab {
	padding-left: 0;
	padding-right: 0;
	background-color: transparent;
}
