.fi-sc-tabs.fi-contained {
	background-color: transparent;
	box-shadow: none;
}
.fi-tabs.fi-contained {
	background-color: rgb(255, 255, 255);
}
.fi-sc-tabs.fi-contained .fi-sc-tabs-tab {
	padding-left: 0;
	padding-right: 0;
	background-color: transparent;
}
