@use 'colors.scss' as col;

nav.fi-topbar {
	height: 3rem;
	min-height: 3rem;
	background: linear-gradient(90deg, col.$la-topbar-bg1 0, col.$la-topbar-bg2) !important;

	button {
		color: col.$la-slate-140;
		&:hover {
			color: col.$la-white;
		}
		&:disabled {
			color: col.$la-slate-100;
			&:hover {
				color: col.$la-slate-100;
			}
		}
	}
	a {
		color: col.$la-slate-140;
		&:hover {
			color: col.$la-white
		}
	}
}

@media (min-width: 64rem) {
	nav.fi-topbar {
		padding-left: 0;
		.fi-topbar-start {
			width: 16.5rem;
			height: 100%;
			margin-inline-end: 0;
			background: linear-gradient(90deg, col.$la-topbar-bg1 0, col.$la-topbar-bg2) !important
		}
	}
}

