nav.fi-topbar {
	height: 3rem;
	min-height: 3rem;
	background: linear-gradient(90deg, #324d78 0, #223450) !important;

	button {
		color: #91a0b4;
		&:hover {
			color: #fff;
		}
		&:disabled {
			color: #647891;
			&:hover {
				color: #647891;
			}
		}
	}
	a {
		color: #91a0b4;
		&:hover {
			color: #fff
		}
	}
}

@media (min-width: 64rem) {
	nav.fi-topbar {
		padding-left: 0;
		.fi-topbar-start {
			width: 16.5rem;
			height: 100%;
			margin-inline-end: 0;
			background: linear-gradient(90deg, #324d78 0, #223450) !important
		}
	}
}

