$la-primary: rgb(0, 146, 184);
$la-secondary: rgb(71, 85, 105);
$la-info: rgb(25, 105, 215);
$la-success: rgb(0, 150, 137);
$la-warning: rgb(234, 88, 12);
$la-danger: rgb(216, 27, 96);

$la-primary-darker: rgb(0, 131, 166);


$la-white: rgb(255, 255, 255);
$la-black: rgb(0, 0, 0);

$la-form-input-color: rgb(94, 98, 120);
$la-reorder-menu-border: rgb(140, 180, 220);
$la-sidebar-menu-text: rgb(145, 160, 180);

// shades of grey ...
$la-slate-darker: rgb(24, 28, 50);

$la-slate-60: rgb(60, 80, 105);
$la-slate-80: rgb(80, 100, 125);
$la-slate-100: rgb(100, 120, 145);
$la-slate-120: rgb(120, 140, 165);
$la-slate-140: rgb(140, 160, 185);
$la-slate-160: rgb(160, 180, 205);
$la-slate-180: rgb(180, 190, 215);
$la-slate-200: rgb(200, 210, 225);
$la-slate-210: rgb(210, 220, 235);
$la-slate-220: rgb(220, 230, 245);
$la-slate-230: rgb(230, 240, 250);

$la-slate-white: rgb(247, 249, 253);

$la-topbar-bg1: rgb(50, 77, 120);
$la-topbar-bg2: rgb(34, 52, 80);

$la-sidebar-bg: rgb(21, 28, 41);
$la-sidebar-txt: rgb(145, 160, 180);

