@use 'colors.scss' as col;

.fi-form {
	input:not([type='checkbox']) {
		color: col.$la-form-input-color !important;
	}
	.fi-checkbox-input {
		border-radius: 0 !important;
	}
}

.range-slider {
	margin-top: 40px;
}

@media (min-width: 1024px) {
	.lara-publish-group {
		float: right;
		max-width: 240px;
	}
}

/* label */
.fi-fo-field-wrp {
	> div:first-child {
		align-items: start;
	}

	.fi-fo-field-wrp-label {
		span {
			font-size: 0.8125rem;
			font-weight: 400;
			color: col.$la-slate-darker;
		}
	}
}

/* LARA CUSTOM FORM */
.lara-custom-form {
	.fi-topbar {
		display: none;
	}

	.fi-sidebar {
		display: none;
	}

	.fi-resource-edit-record-page,
	.fi-resource-create-record-page,
	.fi-resource-view-record-page {
		padding-top: 6rem;

		.fi-header {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			width: 100%;
			padding: 0.75rem 1.5rem;
			background-color: col.$la-white;
			box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12);
			z-index: 100;
		}

		> section {
			> div {
				.grid {
					margin: 0 auto;
					width: 100%;
					max-width: 1100px;
				}
			}
		}
	}

	.fi-main {
		> .fi-resource-edit-record-page {
			> section:first-child {
				padding-top: 0 !important;
			}
		}
	}
}

@media (min-width: 1160px) {

	.lara-custom-form {
		.fi-resource-edit-record-page,
		.fi-resource-view-record-page,
		.fi-resource-create-record-page {
			.fi-header {
				padding: 0.75rem calc((100vw - 1100px) / 2);
				> div:last-child {
					margin-top: 0 !important;
				}
			}
		}
	}
}

/* repeater */
.fi-fo-repeater {
	> ul {
		li.fi-fo-repeater-item {
			border-radius: 6px !important;
			border-width: 1px;
			box-shadow: 0 1px 3px 0 rgb(0,0,0,0.1) !important;

			&.ring-gray-950\/5 {
				border-color: col.$la-slate-210 !important;
			}
		}
	}
}

.fi-fieldset {
	&.rounded-xl {
		border-radius: 6px !important;
		&.border-gray-200 {
			border-color: col.$la-slate-210 !important;
		}
	}
}

.fi-fo-repeater {
	.fi-ac-btn-action {
		overflow: hidden;
		margin: 0 auto;
		padding: 0.375rem !important;
		box-shadow: none;
		border: solid 1px col.$la-slate-200;

		span.fi-btn-label {
			display:none;
		}

		&:hover {
			border-color: col.$la-primary;
			background-color: transparent;
		}

		&::after {
			content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='currentColor' aria-hidden='true' data-slot='icon'><path fill-rule='evenodd' d='M12 3.75a.75.75 0 0 1 .75.75v6.75h6.75a.75.75 0 0 1 0 1.5h-6.75v6.75a.75.75 0 0 1-1.5 0v-6.75H4.5a.75.75 0 0 1 0-1.5h6.75V4.5a.75.75 0 0 1 .75-.75Z' clip-rule='evenodd'></path></svg>");
			width: 1.25rem;
			height: 1.25rem;
			color: col.$la-primary;
		}

	}
}
