@use 'colors.scss' as col;

body, html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
}

h1.font-bold,
h2.font-bold,
h3.font-bold,
h4.font-bold,
h5.font-bold,
h6.font-bold {
	font-weight: 300 !important;
	color: col.$la-slate-100;
}

.ratio {
	position: relative;
	width: 100%;

	> * {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%
	}

	&:before {
		content: "";
		display: block;
		padding-top: var(--bs-aspect-ratio);
	}
}

.ratio-1x1 {
	--bs-aspect-ratio: 100%
}
.ratio-2x1 {
	--bs-aspect-ratio: calc(1 / 2 * 100%);
}
.ratio-3x1 {
	--bs-aspect-ratio: calc(1 / 3 * 100%);
}
.ratio-3x2 {
	--bs-aspect-ratio: calc(2 / 3 * 100%);
}
.ratio-4x1 {
	--bs-aspect-ratio: calc(1 / 4 * 100%);
}
.ratio-4x3 {
	--bs-aspect-ratio: calc(3 / 4 * 100%);
}
.ratio-5x2 {
	--bs-aspect-ratio: calc(2 / 5 * 100%);
}
.ratio-16x9 {
	--bs-aspect-ratio: 56.25%
}
.ratio-2x3 {
	--bs-aspect-ratio: calc(3 / 2 * 100%);
}
.ratio-3x4 {
	--bs-aspect-ratio: calc(4 / 3 * 100%);
}

.muted {
	color: col.$la-slate-160 !important;
}

.fi-body.bg-gray-50 {
	background-color: col.$la-slate-white;
}

.fi-breadcrumbs {
	display: none;
}

.fi-section,
.fi-ta-ctn,
.fi-btn,
.fi-icon-btn,
.fi-input-wrp,
.fi-dropdown-panel {
	&.rounded-sm,
	&.rounded-md,
	&.rounded-lg,
	&.rounded-xl {
		border-radius: 0 !important;
	}
}

.ring-gray-950\/5 {
	border-color: col.$la-slate-200 !important;
}

