@use "sass:color";
@use 'colors.scss' as col;

.curator-media-picker {
	> ul {
		> li {
			&.w-full {
				width: auto !important;
				max-width: 256px;
			}
		}
	}
}

/*
.lara-section-media {
	.lara-img-edit-btn,
	.lara-img-del-btn {
		padding: 0.5rem 0.75rem;
		background-color: transparent !important;
		border: solid 1px col.$la-primary;

		svg {
			color: col.$la-primary;
		}

		&:hover {
			background-color: col.$la-primary !important;
			border: solid 1px col.$la-primary;

			svg {
				color: col.$la-white;
			}
		}

	}
}

.lara-section-files {
	.filepond--item-panel {
		background-color: col.$la-slate-white !important;
		border-radius: 0;
		border-top: solid 1px col.$la-slate-230;
		border-bottom: solid 1px col.$la-slate-230;

		&.filepond--panel-bottom {
			box-shadow: none;
		}
	}
	.filepond--root {
		border-radius: 0;
		box-shadow: none;
	}
	.filepond--file {
		color: col.$la-slate-darker;
	}
}

.fi-fo-file-upload {
	.filepond--list {
		.filepond--item {
			width: 33%;
		}
	}

	&.lara-file-upload {
		.filepond--list {
			.filepond--item {
				width: auto;
			}
		}
	}
}


button.lara-submit-media {
	background-color: col.$la-danger !important;
}

button.lara-submit-media:hover {
	background-color: color.adjust(col.$la-danger, $lightness: -5%) !important;
}


.fi-fo-file-upload {
	.filepond--root {
		box-shadow: none !important;
	}
	.filepond--list {
		.filepond--item {
			max-width: 150px !important;
			.filepond--file-info {
				display: none;
			}
			.filepond--image-preview-overlay {
				&.filepond--image-preview-overlay-idle {
					display: none;
				}
			}
		}
	}
}


*/
