@use 'colors.scss' as col;

.fi-no {
	&.items-end {
		align-items: center !important;
	}
	&.z-50 {
		z-index: 99999 !important;
	}
	.fi-no-notification:last-child {
		margin-top: 15px !important;
	}
}

