@use 'colors.scss' as col;

.fi-section {
	.fi-section-header {
		padding-top: 0.5rem !important;
		padding-bottom: 0.5rem !important;

		.fi-section-header-heading {
			font-size: 0.875rem;
			font-weight: 400;
			color: col.$la-slate-120;
		}

		.fi-section-header-description {
			font-size: 0.75rem;
			font-weight: 400;
			color: col.$la-slate-120;
		}
	}
}

